apiVersion: v1
kind: Service
metadata:
  # annotations:
  #   service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
  name: pgoweb
  labels:
    app: pgoweb
spec:
  type: LoadBalancer
  ports:
  - port: 5000
    name: pgoweb
    targetPort: 5000
  selector:
    app: pgoweb
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: pgoweb
  name: pgoweb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgoweb
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: pgoweb
    spec:
      containers:
      - name: pgoweb
        image: mawinkler/pgoweb
        imagePullPolicy: Always
        env:
        - name: AWS_ACCESS_KEY_ID
          value: <AWS_ACCESS_KEY_ID>
        - name: AWS_SECRET_ACCESS_KEY
          value: <AWS_SECRET_ACCESS_KEY>
        - name: V1_API_KEY
          value: <V1_API_KEY>
        - name: BUCKET_NAME
          value: <BUCKET_NAME>
        ports:
        - containerPort: 5000
